html, body {height: 100%;}

html, body, ul, li, img {
    margin: 0;
}

body {
    font-family: 'Della Respira', serif;
    font-size: 15px;
}

h2 {
    font-size: 30px;
    font-family: 'Kaushan Script', cursive;
}

a {
    color: #b25968;
    text-decoration: none;
}

ul {
    list-style: none;
    display: block;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.bg {
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.row {
    overflow: hidden;
}

.row > .col {
    float: left;
}

.half {
    width: 49.999%;
}

#wrapper {
    /*position: absolute;*/
    overflow: hidden;
    display: table;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#scene {
    position: relative;
    overflow: hidden;
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.layer {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#sky .bg {
    position: relative;
}

#particles {
    display: flex;
}

.project {
    position: relative;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    /*transition: all .5s ease-in-out;*/
}

.project img {
    width: 100%;
    height: auto;
}

.project .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.9);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .3s ease-in-out;
}
.project:hover .overlay {
    width: 100%;
}

.project .overlay > div {
    white-space: nowrap; 
    color: #000;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.project .overlay > div h2 {
    color: #b25968;
}

#refugePlanAiguille {
    margin: auto 5% auto auto;
}

#lastSection {
    height: 100%;
}

#about, #contact {
    height: 100%;
    display: flex;
}

#about {
    background-image: url(../img/me2.jpg);
    background-size: cover;
}

#about > div {
    width: 50%;
    height: 75%;
    margin: auto;
    background-color: rgba(255,255,255,0.5);
    padding: 48px 64px;
    box-sizing: border-box;
    transition: transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55), background-color .25s ease-in-out;
}

#about > div:hover {
    background-color: rgba(255,255,255,.9);
}

#about > div.hidden {
    transform: translateY(100%);
}

#about h2 {
    color: #b25968;
}

#about .about-links {
    text-align: center;
}

#about .about-links a {
    padding: 12px;
    display: inline-block;
    transition: all .25s ease-in-out;
}

#about .about-links a:hover {
    color: #fff;
    background-color: #b25968;
}

#contact {
    background-color: #000;
    color: #fff;
}

#contact > div {
    width: 50%;
    height: 75%;
    margin: auto;
    padding: 48px 64px;
    box-sizing: border-box;
    transition: transform .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#contact > div.hidden {
    transform: translateY(-150%);
}

#contact h2 {
    color: #b25968;
}

#contact .input-group {
    margin-bottom: 16px;
}

#contact .input {
    position: relative;
}

#contact .input:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: all .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    background: #b25968;
}

#contact .input:hover:before {
    width: 105%;
}

#contact input:not([type=submit]), #contact textarea {
    margin: 0;
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    color: #fff;
    background-color: transparent;
    font-family: inherit;
}

#contact input:focus, #contact textarea:focus {
    outline: none;
}

#contact button[type=submit] {
    font-family: inherit;
    padding: 6px 8px;
    color: #fff;
    background-color: #b25968;
    border: none;
    display: block;
    width: 25%;
    margin: auto;
    cursor: pointer;
    transition: all .25s ease-in-out;
    text-align: center;
}

#contact button[type=submit]:hover {
    color: #b25968;
    background-color: #fff;
    width: 50%;
}

#contact button[type=submit]:focus {
    outline: none;
}

#contact button[type=submit] > span {
    position: relative;
}

#contact button[type=submit]:hover > span {
    /*padding-right: 25px;*/
}

#contact button[type=submit] > span > i.fa {
    position: absolute;
    opacity: 0;
    top: 25%;
    left: -100%;
    transition: all 0.5s ease-in-out;
}

#contact button[type=submit]:hover > span > i.fa {
    opacity: 1;
    left: 110%;
}

#contact textarea {
    height: 100px;
}